body{
	background-image: url("tecno.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}
.logo{
	position: absolute;
	top: 20px;
	left: 175px;
	height: 250px;
	width: 250px;
}


.peri2{
	font-size: 180px;
	position: absolute;
	top: -100px;
	left: 700px;
	opacity: 1;
	z-index: 1;
font-family: CHILLER;

}

.vuelta{
	position: absolute;
	display: block;
	top: 300px;
	height: 50px;
	width: 150px;
	
	left: 900px;
	color: black;
	font-size: 50px;
	font-family: chiller;
	
}
.vuelta:hover{
	color: orange;
}